// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html

@import "../valo/valo.scss";
@import "tutorial.scss";

@mixin easymodel {
  @include valo;
  @include tutorial;

  // Insert your own theme rules here
  // OVERWRITE VAADIN DEFAULTS
	.v-splitpanel-horizontal > div > .v-splitpanel-hsplitter {
		width: 6px;
	}
	.v-splitpanel-horizontal > div > .v-splitpanel-hsplitter div::before {
		background: #f2f2f2 url('img/split-bar.png') no-repeat;
		background-position-x: center;
		background-position-y: center;
		border: none;
		//border: 1px #c5c5c5;
		//border-style: none solid none solid;
	}
    .v-spacing {
		width: 5px;
		height: 5px;
	}
	.v-margin-left {
    	padding-left: 15px;
	}
	.v-margin-bottom {
    	padding-bottom: 15px;
	}
	.v-margin-right {
    	padding-right: 15px;
	}
	.v-margin-top {
    	padding-top: 15px;
    }
  	.v-textfield.v-readonly { // the correct way
  		background: #fcfcfc;
  	}
  	.v-caption {
  		font-size: 15px;
  		font-weight: 600;
  	}
    .v-label {
  		font-size: 16px;
  	}
    //CUSTOM LABEL
  	.v-label.textH1 {
  		font-size: 18px;
  		font-weight: bold;
  	}
  	.v-label.textH2 {
  		font-size: 16px;
  		font-weight: bold;
  	}
  	.v-label.textH3 {
  		font-size: 15px;
  		font-weight: bold;
  	}
    .v-label.warningH3 {
        font-size: 15px;
        font-weight: bold;
        color: red;
    }
  	.v-label.textSmall {
  		font-size: 10px;
  	}
	.v-label-math1 {
  		font-size: 13px;
		font-weight: bold;
  	}
  	.v-slot-textSmall {
  		height: 14px;
  	}
  	.v-gridlayout-table {
  		outline: solid 2px rgb(199, 199, 199);
  	}
  	.v-gridlayout-table .v-gridlayout-slot {
  		outline: solid 1px rgb(199, 199, 199);
	}
	.matrix table, .matrix td {
  		border: 2px solid rgb(199, 199, 199);
  		border-collapse: collapse;
  		text-align: center;
	}
  	.v-accordion .v-accordion-item-caption > .v-caption {
		font-weight: 600;
		font-size: 15px;
  	}
  	.v-verticallayout-formulasVL {
  		padding: 5px 5px 5px 5px;
  	}
  	.v-verticallayout-simHeaderVL {
  		padding: 5px 5px 5px 10px;
		border: 1px solid #c5c5c5;
		border-radius:5px;
		overflow: hidden;
  	}
	.v-verticallayout#outPanelConsoleVL {
		padding: 0px 5px 5px 5px;
	}
	.v-verticallayout#modelsEditorVL {
		padding: 0px 5px 5px 5px;
	}
  	.v-horizontallayout#mainLayout {
		padding: 5px;
	}

	.v-textfield-greenBG {
    	//color: #FFFFFF;
		font: 15px Tahoma, sans-serif;
    	background: #ecffe2;
	}
	////////////////
	.v-grid-cell.paramScanSelectedIcon {
		background-color: #197de1;
		background-image: url("img/grid-selected.png"), -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
		//background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
		//background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		color: #c8dbed;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
		border-color: #1d69b4;
	    border-left-color: rgb(29, 105, 180);
	}
	.v-grid-cell.paramScanUnselectedIcon {
		background-image: url("img/grid-unselected.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.v-grid-cell.paramScanSelectedCell {
		background-color: #197de1;
		background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
		//background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
		color: #c8dbed;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
		border-color: #1d69b4;
	    border-left-color: rgb(29, 105, 180);
	}
	//DESCRIPTION ***************************
	.v-button#editDescription {
    	text-overflow: ellipsis;
		overflow: hidden;
		background-color: #ffffff;
    	background-image: none;
    	color: #474747;
    	text-align: left;
    	padding: 4px 9px;
    	cursor: text;
    	-webkit-box-shadow: none;
    	box-shadow: none;
	}
	.v-button#editDescription:after {
		content: none;
	}
	.v-customlayout-descriptionHTML {
		padding: 5px !important;
	}

	//RESULTS***************************
	.v-image.results {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	}
	.v-image.results:hover {
		cursor: pointer;
		border: 1px solid #bcbcbc;
		box-shadow: 0 0 10px 0 rgb(123, 123, 123);
	}
	.v-verticallayout.resultsOuterPanel {
		padding: 5px;
	}
	.v-horizontallayout.resultsBottom {
		border-top: 1px solid #c5c5c5;
		overflow: hidden;
	}
	.v-horizontallayout.resultsBottomWM {
		background: #f9f9f9;
	}
	.v-horizontallayout-resultsStatusRunning {
		background: #008ae6;
		padding: 0 5px;
	}
	.v-horizontallayout-resultsStatusFinish {
		background: #33cc33;
		padding: 0 5px;
	}
	.v-horizontallayout-resultsStatusError {
		background: #e60000;
		padding: 0 5px;
	}
	.v-label-resultsStatus {
		font-size: 16px;
		color: #fff;
	}
	.v-button-resultsCancel {
		font-size: 15px;
		//height: 25px; // does nothing
		padding: 0; //0 10px;
		margin-left: 5px;
	}
	.v-link-resultsMLogo img {
		height: 32px;
	}
	///////////////////////////////////////////
	.v-button-small {
    	font-size: 14px;
    	//height: auto;
    	text-align: center;
	}
	.v-button-editBtn {
		background-color: #fafafa;
		background-image: url("img/edit.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.v-button-exportMathematicaBtn {
		background-image: url("img/mathematica_logo-96.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 78px;
		height: 37px;
	}
	.v-button-exportSbmlBtn {
		background-image: url("img/sbml-logo.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		//border: none;
		width: 78px;
		height: 37px;
	}
	.v-button-eachBtn {
		background-color: #fafafa;
		background-image: url("img/each.png");
		background-image: linear-gradient(#fafafa,#efefef);
		background-size: 32px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.v-button-infoBtn {
		background-color: #fafafa;
		background-image: url("img/info.png");
		background-image: linear-gradient(#fafafa,#efefef);
		background-size: 32px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.v-button-notebookBtn {
		background-color: #fafafa;
		background-image: url("img/notebook.png");
		background-image: linear-gradient(#fafafa,#efefef);
		background-size: 32px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.v-nativebutton-infoNoBorderBtn {
		background: center url(img/info.png) no-repeat;
		background-size: 28px;
		border: none;
	}
	.v-button-renderHtmlBtn {
		background-color: #fafafa;
		background-image: url("img/html.png");
		background-image: linear-gradient(#fafafa,#efefef);
		background-size: 32px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.v-nativebutton-eyeBtn {
		background: center url(img/eye.png) no-repeat;
		background-size: 26px;
		border-radius: 0px;
		border: none;
	}
	.v-button-linkFn {
		//border: none;
		background: url(img/linkFn.png) no-repeat;
		background-size: 100%;
		width: 50px;
		height: 37px;
	}
	.v-button-linkFnDone {
		//border: none;
		background: transparent url(img/linkFnDone.png) no-repeat;
		background-size: 100%;
		width: 50px;
		height: 37px;
	}
	.v-button-remove {
		background-color: #fafafa;
		background: transparent url(img/remove.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.v-button-restriction {
		background: transparent url(img/restr.png) no-repeat;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.v-link-udlLogo img {
		//width: 76px;
		height: 40px;
    	-webkit-box-shadow: none;
    	box-shadow: none;
		border: solid #acadae 1px;
		border-radius: 5px;
		text-decoration: none;
	}
	.v-link-githubLogo img {
		width: 42px;
		height: 40px;
    	-webkit-box-shadow: none;
    	box-shadow: none;
		border: solid #acadae 1px;
		border-radius: 5px;
		text-decoration: none;
	}
	.v-link-sbmlLogo img {
		height: 40px;
    	-webkit-box-shadow: none;
    	box-shadow: none;
		border: solid #acadae 1px;
		border-radius: 5px;
		text-decoration: none;
	}
	.v-link-coverMathLogo img {
		height: 40px;
    	-webkit-box-shadow: none;
    	box-shadow: none;
		border: solid #acadae 1px;
		border-radius: 5px;
		text-decoration: none;
	}
	.v-button-coverContact {
		background: transparent url('img/contactBtn.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 57px;
		height: 40px;
    	-webkit-box-shadow: none;
    	box-shadow: none;
		border: solid #acadae 1px;
		border-radius: 5px;
	}
	.v-button-coverContact:after {
		content: none;
	}
	.v-button-coverBrowserCompability {
		background: transparent url('img/browserCompabilityBtn.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 40px;
		height: 40px;
    	-webkit-box-shadow: none;
    	box-shadow: none;
		border: solid #acadae 1px;
		border-radius: 5px;
	}
	.v-button-coverBrowserCompability:after {
		content: none;
	}
	.v-button-coverInfo {
		background: transparent url('img/info.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 40px;
		height: 40px;
    	-webkit-box-shadow: none;
    	box-shadow: none;
		border: solid #acadae 1px;
		border-radius: 5px;
	}
	.v-button-coverInfo:after {
		content: none;
	}
	// STEPS ////////////////////////////////////////////
	.v-button.stepNotSelected {
		background-image: none;
		background-color: #ffffff;
		color: #020202;
		border-radius: 0px;
		border-top: none;
		border-bottom: none;
		border-left: none;
		border-right: 1px solid #c5c5c5;
		padding: 0 10px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.v-button-stepNotSelected:focus:after {
    	border-color: #c5c5c5;
    	-webkit-box-shadow: none;
    	box-shadow: none;
    }
	.v-button.stepNotSelected.v-disabled {
		opacity: 1.0;
		background-image: none;
		background-color: #f5f5f5;
		color: #a2a2a2;
		border-radius: 0px;
		border-top: none;
		border-bottom: none;
		border-left: none;
		border-right: 1px solid #c5c5c5;
		padding: 0 10px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.v-button.stepSelected {
		background-image: none;
		background-color: #00A8EC;
		color: #ffffff;
		border-radius: 0px;
		border-top: none;
		border-bottom: none;
		border-left: none;
		border-right: 1px solid #c5c5c5;
		padding: 0 10px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.v-button-stepSelected:focus:after {
    	border-color: #c5c5c5;
    	-webkit-box-shadow: none;
    	box-shadow: none;
    }
    ///////////////////////////////////////
    .v-horizontallayout.topButtons {
		background: #fff;
		border-bottom: 1px solid #c5c5c5;
		overflow: hidden;
	}
    .v-horizontallayout.stepButtonsLogo {
		background-image: url("img/easymodel-logo-120.png");
		background-color: #ffffff;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 0px;
		border-left: none;
		border-right: 1px solid #c5c5c5;
		border-top: none;
		border-bottom: none;
	}
	.v-button.topButtonsRightPart {
		background-image: none;
		background-color: #ffffff;
		color: #020202;
		border-radius: 0px;
		border: none;
		border: none;
		border-top: none;
		border-bottom: none;
		border-left: 1px solid #c5c5c5;
		//border-right: 1px solid #c5c5c5;
		border-right: none;
		padding: 0 10px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.v-button-topButtonsRightPart:focus:after {
    	border-color: #c5c5c5;
    	-webkit-box-shadow: none;
    	box-shadow: none;
    }
    .v-menubar.appTools {
		background-image: none;
		background-color: #ffffff;
		color: #020202;
		border-radius: 0px;
		border: none;
		border: none;
		border-top: none;
		border-bottom: none;
		border-left: 1px solid #c5c5c5;
		//border-right: 1px solid #c5c5c5;
		border-right: none;
		padding: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		line-height: 30px;
	}
	.v-button.exitBtn {
		background-image: url("img/exit.png");
		background-color: #FFF;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		border-radius: 0px;
		border: none;
		border-top: none;
		border-bottom: none;
		border-left: 1px solid #c5c5c5;
		border-right: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.v-button-exitBtn:focus:after {
    	border-color: #c5c5c5;
    	-webkit-box-shadow: none;
    	box-shadow: none;
    }
    ////////////////////////////////////////////
	.simTittleCheckBox {
		font-size: 15px;
		font-weight: 600;	
	}
    .v-verticallayout-simConfig {
    	width: 100%;
	    max-width: 500px;
    }
	.v-verticallayout-panelBorder {
		border: 1px solid #c5c5c5;
		border-radius:5px;
	}
	.v-horizontallayout-maxButton {
    	border: none;
    	background: transparent url(img/panelMax.png) no-repeat;
    	width: 25px;
    	height: 25px;
	}
	.v-horizontallayout-minButton {
    	border: none;
    	background: transparent url(img/panelMin.png) no-repeat;
    	width: 25px;
    	height: 25px;
	}
	.v-slot-panelHeader {
		background: #f8f8f8;
		border-bottom: 1px solid #d5d5d5;
		border-radius: 4px 4px 0px 0px;
	}
	.v-slot-panelstyle {
		border: 1px solid #d5d5d5;
		border-radius: 4px;
	}
	.v-panel-withoutborder {
		 border-style: none;
		 -webkit-box-shadow: none;
		 box-shadow: none;
	}
	.v-panel-reactionsPanel {
		max-width: 800px;
	}
	.v-verticallayout-panelStyle {
		background: white;
		color: #474747;
		border-radius: 4px;
		border: 1px solid #d5d5d5;
		-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
		//overflow: visible !important;
	}
	.v-panel-caption {
		font-weight: 600;
	}
	.v-textfield-selected {
		color: #FFFFFF;
		background: #197DE1;
		border-style: none;
	}
	.v-textfield-withFormula { //not used yet
		color: #FFFFFF;
		background: #c0f8ff;
		border-style: none;
	}
	.v-textfield.v-disabled {
		background: #D4D4D4;
		opacity: 1.0 !important;
	}
	.v-select.v-disabled select {
		background: #D4D4D4;
	}
	////// COVER
	.v-verticallayout-coverBackground {
  		padding: 0;
  	}
	.v-caption-coverUserTextField {
		font-size: 16px;
		font-weight: 600;
	}
	.v-verticallayout-coverContent {
		margin: 20px 0 20px 0;
	}
	.v-verticallayout-coverContent .v-spacing {
		height: 10px;
	}
	.coverBox {
		background: #FFFFFF;
		padding: 30px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
	}
	.v-label-coverAppDescription {
		font-size: 14px;
		font-style: italic;
		text-align: justify;
		text-justify: inter-word;
	}
	.v-verticallayout-coverFooter {
		background: #EEE;
		padding: 5px;
		box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.16) !important;
	}
	hr {
		display: block;
    	height: 1px;
    	border: 0;
    	border-top: 1px solid #ccc;
    	margin: 1em 0;
    	padding: 0;
	}
	.v-verticallayout-visitCounter {
		border: solid #acadae 1px;
		border-radius: 5px;
		background: #fff;
	}
	.v-label-labelCaption {
		font-size: 15px;
		font-weight: 600;
	}
	.v-window-header, .v-label-popupHeader {
		font-size: 15px;
		font-weight: 550;
		color: #585858;
	}
	.v-window-info img.v-icon {
		width: 35px;
	}
}
