@mixin tutorial {
	.v-label-bold {
		font-weight: bold;
	}
	.v-verticallayout-tutorialView {
		background: #fff;
		padding: 10px;
	}
	.v-verticallayout-tutorialMain {
		border: 2px solid #c5c5c5;
		border-radius:5px;
	}
	.v-button-tutorialSkip {
		background-color: #ffffff;
    	background-image: none;
    	color: #0057fb;
    	font-weight: 800;
    	font-size: 20px;
    	padding: 4px 9px;
    	-webkit-box-shadow: none;
    	box-shadow: none;
    	border: none;
	}
	.v-button-tutorialSkip:after {
		content: none;
	}
	.v-button-tutorialNext, .v-button-tutorialPrev {
		background-color: transparent;
    	background-image: none;
    	background-position: center;
  		background-repeat: no-repeat;
    	color: #575757;
    	font-size: 50px;
    	font-weight: bold;
    	padding: 0;
    	box-shadow: none;
    	-webkit-box-shadow: none;
    	border: none;
    	border-radius: 0;
    	transition: font-size 0.2s;
    	-webkit-transition: font-size 0.2s;
	}
	.v-button-tutorialNext:after, .v-button-tutorialPrev:after {
		content: none;
	}
	/* On hover, add a black background color with a little bit see-through */
	.v-button-tutorialPrev:hover, .v-button-tutorialNext:hover {
  		background-color: rgba(0, 151, 243, 0.8);
		color: #fff;
		font-size: 60px;
	}
	.v-horizontallayout-tutorial1 {
		background-image: url("tutorial/1.png");
		-webkit-animation-name: tutorialFade1;
		-webkit-animation-duration: 1.5s;
		animation-name: tutorialFade1;
		animation-duration: 1.5s;
	}
	.v-horizontallayout-tutorial2 {
		background-image: url("tutorial/2.png");
		-webkit-animation-name: tutorialFade2;
		-webkit-animation-duration: 1.5s;
		animation-name: tutorialFade2;
		animation-duration: 1.5s;
	}
	.v-horizontallayout-tutorial3 {
		background-image: url("tutorial/3.png");
		-webkit-animation-name: tutorialFade1;
		-webkit-animation-duration: 1.5s;
		animation-name: tutorialFade1;
		animation-duration: 1.5s;
	}
	.v-horizontallayout-tutorial4 {
		background-image: url("tutorial/4.png");
		-webkit-animation-name: tutorialFade2;
		-webkit-animation-duration: 1.5s;
		animation-name: tutorialFade2;
		animation-duration: 1.5s;
	}
	.v-horizontallayout-tutorial5 {
		background-image: url("tutorial/5.png");
		-webkit-animation-name: tutorialFade1;
		-webkit-animation-duration: 1.5s;
		animation-name: tutorialFade1;
		animation-duration: 1.5s;
	}
	.v-horizontallayout-tutorial6 {
		background-image: url("tutorial/6.png");
		-webkit-animation-name: tutorialFade2;
		-webkit-animation-duration: 1.5s;
		animation-name: tutorialFade2;
		animation-duration: 1.5s;
	}
	.v-horizontallayout-tutorial7 {
		background-image: url("tutorial/7.png");
		-webkit-animation-name: tutorialFade1;
		-webkit-animation-duration: 1.5s;
		animation-name: tutorialFade1;
		animation-duration: 1.5s;
	}
	.v-horizontallayout-tutorial8 {
		background-image: url("tutorial/8.png");
		-webkit-animation-name: tutorialFade2;
		-webkit-animation-duration: 1.5s;
		animation-name: tutorialFade2;
		animation-duration: 1.5s;
	}
	.v-horizontallayout-tutorial9 {
		background-image: url("tutorial/9.png");
		-webkit-animation-name: tutorialFade1;
		-webkit-animation-duration: 1.5s;
		animation-name: tutorialFade1;
		animation-duration: 1.5s;
	}
	.v-horizontallayout-tutorial10 {
		background-image: url("tutorial/10.png");
		-webkit-animation-name: tutorialFade2;
		-webkit-animation-duration: 1.5s;
		animation-name: tutorialFade2;
		animation-duration: 1.5s;
	}
	.v-horizontallayout-tutorialSlides {
		//background-image: transparent;
		background-repeat: no-repeat;
    	background-size: contain;
    	background-position: center;
	}
}

@-webkit-keyframes tutorialFade1 {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes tutorialFade1 {
  from {opacity: .4} 
  to {opacity: 1}
}

@-webkit-keyframes tutorialFade2 {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes tutorialFade2 {
  from {opacity: .4} 
  to {opacity: 1}
}
