.bold {
    font-weight: bold;
}
.tutorialView {
    background: #fff;
    padding: 10px;
}
.tutorialMain {
    border: 2px solid #c5c5c5;
    border-radius:5px;
    overflow: hidden;
}
.tutorialSkip {
    background-color: #ffffff;
    background-image: none;
    color: #00a3eb;
    font-weight: bold;
    font-size: 20px;
    padding: 4px 9px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0 5px 0 0;
}
.tutorialSkip:after {
    content: none;
}
.tutorialSkip:hover {
    background-color: rgba(0, 151, 243, 0.8);
    color: #fff;
}
.tutorialNext, .tutorialPrev {
    background-color: transparent;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    color: #575757;
    font-size: 50px;
    font-weight: bold;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    border-radius: 0;
    transition: font-size 0.2s;
    -webkit-transition: font-size 0.2s;
}
.tutorialNext:after, .tutorialPrev:after {
    content: none;
}
.tutorialPrev:hover, .tutorialNext:hover {
    background-color: rgba(0, 151, 243, 0.8);
    color: #fff;
    font-size: 60px;
}
.tutorial1 {
    background-image: url("/tutorial/Slide1.PNG");
    -webkit-animation-name: tutorialFade1;
    -webkit-animation-duration: 1.5s;
    animation-name: tutorialFade1;
    animation-duration: 1.5s;
}
.tutorial2 {
    background-image: url("/tutorial/Slide2.PNG");
    -webkit-animation-name: tutorialFade2;
    -webkit-animation-duration: 1.5s;
    animation-name: tutorialFade2;
    animation-duration: 1.5s;
}
.tutorial3 {
    background-image: url("/tutorial/Slide3.PNG");
    -webkit-animation-name: tutorialFade1;
    -webkit-animation-duration: 1.5s;
    animation-name: tutorialFade1;
    animation-duration: 1.5s;
}
.tutorial4 {
    background-image: url("/tutorial/Slide4.PNG");
    -webkit-animation-name: tutorialFade2;
    -webkit-animation-duration: 1.5s;
    animation-name: tutorialFade2;
    animation-duration: 1.5s;
}
.tutorial5 {
    background-image: url("/tutorial/Slide5.PNG");
    -webkit-animation-name: tutorialFade1;
    -webkit-animation-duration: 1.5s;
    animation-name: tutorialFade1;
    animation-duration: 1.5s;
}
.tutorial6 {
    background-image: url("/tutorial/Slide6.PNG");
    -webkit-animation-name: tutorialFade2;
    -webkit-animation-duration: 1.5s;
    animation-name: tutorialFade2;
    animation-duration: 1.5s;
}
.tutorial7 {
    background-image: url("/tutorial/Slide7.PNG");
    -webkit-animation-name: tutorialFade1;
    -webkit-animation-duration: 1.5s;
    animation-name: tutorialFade1;
    animation-duration: 1.5s;
}
.tutorial8 {
    background-image: url("/tutorial/Slide8.PNG");
    -webkit-animation-name: tutorialFade2;
    -webkit-animation-duration: 1.5s;
    animation-name: tutorialFade2;
    animation-duration: 1.5s;
}
.tutorial9 {
    background-image: url("/tutorial/Slide9.PNG");
    -webkit-animation-name: tutorialFade1;
    -webkit-animation-duration: 1.5s;
    animation-name: tutorialFade1;
    animation-duration: 1.5s;
}
.tutorial10 {
    background-image: url("/tutorial/Slide10.PNG");
    -webkit-animation-name: tutorialFade2;
    -webkit-animation-duration: 1.5s;
    animation-name: tutorialFade2;
    animation-duration: 1.5s;
}
.tutorialSlides {
    //background-image: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.tutorialTitle {
    color: #535353;
    font-weight: bold;
    font-size: 24px;
}
.tutorialFooter {
    vertical-align: top;
}
.tutorialProgress {
    //background-image: url("/tutorial/tutorialProgress.png");
    //background-repeat: repeat-x;
    background: #00a3eb;
    -webkit-transition: width 0.3s; /* Safari */
    transition: width 0.3s;
}
.tutorialNumSlide {
    font-size: 15px;
    color: #575757;
    font-weight: bold;
    position: absolute;
    right: 20px;
    bottom: 15px;
}
/*tutorialLogo {
    margin-left: 3px;
}*/

@-webkit-keyframes tutorialFade1 {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes tutorialFade1 {
  from {opacity: .4} 
  to {opacity: 1}
}

@-webkit-keyframes tutorialFade2 {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes tutorialFade2 {
  from {opacity: .4} 
  to {opacity: 1}
}
